<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <%- include('../partials/nav', {active: 'Categories'}) %>
    </header>
    <br />
    <br />
    <section class="container-flat">
        <div class="jumbotron flat">
            <h3 class="text-center">Categories</h3>
            <hr>
            <div class="card-columns" id="categories">
                <% categories.forEach((category) => { %>
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title"><%= category.title %></h5>
                        <ul class="card-body mb-0">
                            <% category.data.forEach((cat) => { %>
                            <li>
                                <i class="fas fa-folder-open"></i>
                                <a href="/categories/<%= cat.name%>?returnLink=<%= page %>"
                                    class="capitalize"><%= cat.name %></a>
                            </li>
                            <% }) %>
                        </ul>
                    </div>
                </div>
                <% }) %>
            </div>
        </div>
    </section>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>