<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
    <style>
        #returnLink:before {
            content: "\f0a8";
            font-family: FontAwesome;
        }
        #returnLink:hover {
            text-decoration: none;
        }
        @media (min-width: 576px) {
            .card-columns {
                column-count: 2;
            }
        }

        @media (min-width: 768px) {
            .card-columns {
                column-count: 3;
            }
        }

        @media (min-width: 992px) {
            .card-columns {
                column-count: 4;
            }
        }

        @media (min-width: 1200px) {
            .card-columns {
                column-count: 5;
            }
        }
    </style>
</head>

<body>

    <header>
        <%- include('../partials/nav', {active: 'Products'}) %>
    </header>
    <br />
    <br />
    <section class="container-flat">
        <div class="jumbotron flat">
            <% if(locals.returnLink) { %>
                <h1 class="text-center">All our products in <a href="" class="capitalize"><%= category %></a></h1>
                <a class="btn btn-link" href="<%= returnLink %>" id="returnLink">
                    <% if(locals.productName) { %>
                        Return to <%= productName %>
                    <% } else {%>
                        Return to <%= returnLink.replace('/', '') %>
                    <% } %>
                </a>
            <% } else { %>
                <h1 class="text-center">All our products</h1>
            <% } %>
            <hr>
            <span id='variableJSON' hidden>
                <%= JSON.stringify(products); %>
            </span>
            <div class="products card-columns">
                <% products.forEach((product) => { %>
                <div class="card m-2" style="width: 18rem;">
                    <img src="<%= product.images[0] %>" class="card-img-top d-block text-center text-muted m-2"
                        alt="Image not available yet.">
                    <div class="card-body pt-1">
                        <h5 class="card-title mb-0"><%= product.name %></h5>
                        <small class="text-muted"><%= product.gtin %></small>
                        <% var Carrefour = product.retailers.find((retailer) => {return retailer.name == 'Carrefour'}); %>
                        <% if (Carrefour) { %>
                        <p class="card-text">Carrefour : <%= Carrefour.globalPrice %>€</p>
                        <% } else { %>
                        <small class="text-muted d-block">Price not available yet</small>
                        <% } %>
                        <br />
                        <a href="/product/<%= product.gtin %>" class="btn btn-primary">More details</a>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </section>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var variableJSON = JSON.parse($('#variableJSON').text());
        $('#variableJSON').remove();
        console.log(variableJSON);
        var socket = io();
    </script>
</body>

</html>