<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>

    <style>
        h4 small a {
            font-size: 0.8em;
        }
    </style>
</head>

<body>

    <header>
        <%- include('../partials/nav', {active: 'Products'}) %>
    </header>
    <br />
    <br />
    <section class="container">
        <div class="jumbotron">
            <%if (product != null) { %>
            <h1>
                <%= product.name %> - <%=product.quantity%>
                <% if(locals.product.generic_name) { %>
                    <small>
                        (<%= product.generic_name %>)
                    </small>
                <% } %>
            </h1>
            <h3>Brand : <span class="capitalize"><a href="/products/brand/<%= product.brand %>"><%= product.brand %></a></span></h3>
            <small class="text-muted"><%= product.gtin %></small>
            <h4>Categories :
                <small>
                    <% product.categories.forEach((categorie, i) => { %>
                    <a href="/products/categories/<%= categorie + '?returnLink=' + page + '&productName=' + product.name %>"
                        class="capitalize"><%= categorie %></a><% if(i < product.categories.length - 1) { %>,<% } %>
                    <% }) %>
                </small>
            </h4>
            <hr />
            <h3>Prices</h3>
            <ul id="carrefourPrice">
            </ul>
            <form class="needs-validation" id="zipcodeForm" novalidate>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group">
                            <label for="zipcodeInput">Enter your zipcode to check for your local prices <small>(Your
                                    data is not
                                    stored)</small></label>
                            <input id="zipcodeInput" type="text" name="zipcodeInput" class="form-control"
                                placeholder="Zipcode (Ex: 64000)" aria-label="zipcode" aria-describedby="basic-addon2"
                                minlength="5" maxlength="5" required>
                            <div class="input-group-append">
                                <button id="zipcodeSubmitBtn" class="btn btn-outline-primary" type="submit"
                                    href="">Send</button>
                            </div>
                            <div class="invalid-feedback">
                                Please choose a valid zipcode.
                            </div>
                            <div><small>This can take a while (up to 30') and is not 100% successful</small></div>
                        </div>

                    </div>

                </div>
            </form>

            <div style="width: 30%">
                <div class="input-group mb-3" width="30%">
                </div>
            </div>
            <ul id="prices">
            </ul>

            <h3>Images</h3>
            <div id="images">
                <% product.images.forEach((image) => { %>
                <img src="<%= image %>" alt="Image for <%= product.name %>" width="500px" />
                <% }) %>
            </div>

            <h3>Ingredients</h3>
            <ul>
                <% product.ingredients.forEach((ingredient) => { %>
                <li><%= ingredient.charAt(0).toUpperCase() + ingredient.substring(1) %></li>
                <% }); %>
            </ul>

            <h3>Quantity</h3>
            <p><%= product.quantity %></p>

            <span id='variableJSON' hidden>
                <%= JSON.stringify(product); %>
            </span>
            <% } else { %>
            <h1><%= error %></h1>
            <hr />
            <br />
            <br />
            <div class="text-center">
                <button href="#" class="btn btn-primary">Back to home</button>
            </div>
            <% } %>
        </div>
    </section>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        console.log(`<%= locals.socket.host %>`);
        
        const insertPrice = (product) => {
            if (product.found) {
                $("#prices").append(
                    `<li>${product.retailer} <small>(${product.drive} - ${product.zipcode})</small> : ${product.price}€</li>`
                );
            } else {
                $("#prices").append(
                    `<li>${product.retailer} <small>(${product.drive} - ${product.zipcode})</small> : ${product.text}</li>`
                );
            }
        }
        var Product = JSON.parse($('#variableJSON').text());
        $('#variableJSON').remove();
        console.log(Product);


        let gtin = Product.gtin;
        var socket = io('<%= locals.socket.host %>:<%= locals.socket.port %>', {
            'forceNew': true
        });

        if (Product.images.length == 0) {
            socket.emit('getImages', gtin);
        }

        const Carrefour = Product.retailers.find((retailer) => {
            return retailer.name == 'Carrefour';
        });

        if (!Carrefour) {
            socket.emit('getPriceCarrefour', gtin);
        } else {
            $("#carrefourPrice").append(
                `<li>${Carrefour.name} : ${Carrefour.globalPrice}€</li>`);
        }




        socket.on('getImagesResponse', async (data) => {
            if (data != null) {
                data.images.forEach((image) => {
                    $('#images').append(`<img src="${image}" width="500px"/>`);
                });
            }
        });

        socket.on('getPriceResponse', async (response) => {
            insertPrice(response)
        })



        socket.on('getPriceLeclercResponse', (response) => {
            console.log(response);
            insertPrice(response)
            // $("#prices").append(
            //     `<li>${response.data.retailer} <small>(${response.data.drive} - ${response.data.zipcode})</small> : ${response.data.price}€</li>`
            // );
        });

        socket.on('getPriceMagasinsuResponse', (response) => {
            console.log(response);
            insertPrice(response)
            // $("#prices").append(
            //     `<li>${response.data.retailer} <small>(${response.data.drive} - ${response.data.zipcode})</small> : ${response.data.price}€</li>`
            // );
        })

        socket.on('getPriceIntermarcheResponse', (response) => {
            console.log(response);
            insertPrice(response);
        })


        socket.on('getPriceCarrefourResponse', (response) => {
            if(response.found)
                $("#carrefourPrice").append(
                    `<li>${response.retailer} : ${response.price}€</li>`);
            else
                $("#carrefourPrice").append(`<li>${response.retailer} : ${response.text}</li>`)
        });

        socket.on('getPriceAuchanResponse', (response) => {
            console.log(response);
            insertPrice(response)
        });

        $('#zipcodeForm').on('submit', (e) => {
            e.preventDefault();
            e.stopPropagation();

            if ($('#zipcodeForm')[0].checkValidity() === false) {

            } else {
                var cp = $('#zipcodeInput').val();
                console.log(cp);

                socket.emit('getPriceAuchan', gtin, cp);
                socket.emit('getPriceLeclerc', gtin, cp);
                socket.emit('getPriceMagasinsu', gtin, cp);
                socket.emit('getPriceIntermarche', gtin, cp);
            }
            $('#zipcodeForm')[0].classList.add('was-validated');
        });
    </script>
</body>

</html>