<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body>

    <header>
        <% include ../partials/nav %>
    </header>
    <br />
    <br />
    <section class="container">
        <div class="jumbotron">
            <%if (product != null) { %>
            <h1><%= product.name %> - <%=product.quantity%> <small>(<%= product.generic_name %>)</small></h1>
            <small><%= product.gtin %></small>
            <hr />
            <h3>Prices</h3>
            <ul id="carrefourPrice">
            </ul>
            <form class="needs-validation" id="zipcodeForm" novalidate>
                <div class="form-row">
                    <div class="col-md-4 mb-3">
                        <div class="input-group">
                            <label for="zipcodeInput">Enter your zipcode to check for your local prices <small>(Your
                                    data is not
                                    stored)</small></label>
                            <input id="zipcodeInput" type="text" name="zipcodeInput" class="form-control"
                                placeholder="Zipcode (Ex: 64000)" aria-label="zipcode" aria-describedby="basic-addon2"
                                minlength="5" maxlength="5" required>
                            <div class="input-group-append">
                                <button id="zipcodeSubmitBtn" class="btn btn-outline-primary" type="submit"
                                    href="">Send</button>
                            </div>
                            <div class="invalid-feedback">
                                Please choose a valid zipcode.
                            </div>
                            <div><small>This can take a while (up to 30') and is not 100% successful</small></div>
                        </div>

                    </div>

                </div>
            </form>

            <div style="width: 30%">
                <div class="input-group mb-3" width="30%">
                </div>
            </div>
            <ul id="prices">
            </ul>

            <h3>Images</h3>
            <div id="images"></div>

            <h3>Ingredients</h3>
            <ul>
                <% product.ingredients.forEach((ingredient) => { %>
                <li><%= ingredient.charAt(0).toUpperCase() + ingredient.substring(1) %></li>
                <% }); %>
            </ul>

            <h3>Quantity</h3>
            <p><%= product.quantity %></p>

            <span id='variableJSON' hidden>
                <%= JSON.stringify(product); %>
            </span>
            <% } else { %>
            <h1><%= error %></h1>
            <hr />
            <br />
            <br />
            <div class="text-center">
                <button href="#" class="btn btn-primary">Back to home</button>
            </div>
            <% } %>
        </div>
    </section>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>

        const insertPrice = (product) => {
            if(product.found) {
                $("#prices").append(
                    `<li>${product.retailer} <small>(${product.drive} - ${product.zipcode})</small> : ${product.price}€</li>`
                );
            } else {
                $("#prices").append(
                    `<li>${product.retailer} <small>(${product.drive} - ${product.zipcode})</small> : Product not found</li>`
                );
            }
        }
        var variableJSON = JSON.parse($('#variableJSON').text());
        $('#variableJSON').remove();
        console.log(variableJSON);

        if (variableJSON.retailers.length == 0) {
            let gtin = variableJSON.gtin;
            var socket = io();
            socket.emit('getImages', gtin);
            socket.on('getImagesResponse', (response) => {
                console.log(response);
                response.data.forEach((image) => {
                    $('#images').append(`<img src="${image}" width="500px"/>`);
                });
            });

            socket.on('getPriceAuchanResponse', (response) => {
                console.log(response);
                insertPrice(response.data)
                // $("#prices").append(
                //     `<li>${response.data.retailer} <small>(${response.data.drive} - ${response.data.zipcode})</small> : ${response.data.price}€</li>`
                // );
            });

            socket.on('getPriceLeclercResponse', (response) => {
                console.log(response);
                insertPrice(response.data)
                // $("#prices").append(
                //     `<li>${response.data.retailer} <small>(${response.data.drive} - ${response.data.zipcode})</small> : ${response.data.price}€</li>`
                // );
            });

            socket.on('getPriceMagasinsUResponse', (response) => {
                console.log(response);
                insertPrice(response.data)
                // $("#prices").append(
                //     `<li>${response.data.retailer} <small>(${response.data.drive} - ${response.data.zipcode})</small> : ${response.data.price}€</li>`
                // );
            })

            socket.on('getPriceIntermarcheResponse', (response) => {
                console.log(response);
                insertPrice(response.data);
            })

            socket.emit('getPriceCarrefour', gtin);
            socket.on('getPriceCarrefourResponse', (response) => {
                console.log(response);
                $("#carrefourPrice").append(
                    `<li>${response.data.retailer} : ${response.data.price}€</li>`);
            });

            $('#zipcodeForm').on('submit', (e) => {
                e.preventDefault();
                e.stopPropagation();

                if ($('#zipcodeForm')[0].checkValidity() === false) {

                } else {
                    var cp = $('#zipcodeInput').val();
                    console.log(cp);

                    socket.emit('getPriceAuchan', gtin, cp);
                    socket.emit('getPriceLeclerc', gtin, cp);
                    socket.emit('getPriceMagasinsU', gtin, cp);
                    socket.emit('getPriceIntermarche', gtin, cp);
                }
                $('#zipcodeForm')[0].classList.add('was-validated');
            });

            // $("#zipcodeSubmitBtn").on('click', (e) => {
            //     var cp = $('#zipcodeInput').val();
            //     console.log(cp);

            // });

            //socket.emit('requestAdditionalInfos', variableJSON)
            socket.on('responseAdditionalInfos', (response) => {
                console.log(response);
                response.forEach((retailer) => {
                    console.log(retailer);

                    $("#carrefourPrice").append(
                        `<li>${retailer.retailer} : ${retailer.data.price}€</li>`);
                    retailer.data.images.forEach((image) => {
                        console.log(image);

                        $('#images').append(`<img src="${image}" width="500px"/>`);
                        console.log($('#images'));

                    });
                })

            });
        }
    </script>
</body>

</html>