<!DOCTYPE html>
<html lang="en">

<head>
    <% include ../partials/head %>
</head>

<body class="bg-dark">

    <header>
        <%- include('../partials/nav', {active: 'Products'}) %>
    </header>
    <section class="text-white container-flat mt-4">
        <div class="flat" id="products">
            <% if(locals.returnLink) { %>
                <h3 class="text-center">All products in <a href="" class="capitalize"><%= category %></a></h3>
                <a class="btn btn-link" href="<%= returnLink %>" id="returnLink">
                    <% if(locals.productName) { %>
                        Return to <%= productName %>
                    <% } else {%>
                        Return to <%= returnLink.replace('/', '') %>
                    <% } %>
                </a>
            <% } else { %>
                <h3 class="text-center">All products</h3>
            <% } %>

            <div class="mt-4 products card-columns pr-4 pl-4">
                <% products.forEach((product) => { %>
                <div class="bg-secondary card mt-2 mb-2">
                    <img src="<%= product.images[0] %>" class="bg-white card-img-top d-block text-center  p-3"
                        alt="Image not available yet.">
                    <div class="card-body pt-1">
                        <h5 class="card-title mb-0 mt-2"><%= product.name %></h5>
                        <small class="mt-0"><%= product.gtin %></small>
                        <% var Carrefour = product.retailers.find((retailer) => {return retailer.name == 'Carrefour'}); %>
                        <% if (Carrefour) { %>
                        <p class="card-text mt-2">Carrefour : <%= Carrefour.globalPrice %>€</p>
                        <% } else { %>
                        <small class="d-block">Price not available yet</small>
                        <% } %>
                        <a href="/products/<%= product.gtin %>" class="notiflix-btn notiflix-btn-confirm">More details</a>
                    </div>
                </div>
                <% }); %>
            </div>
        </div>
    </section>

    <footer>
        <% include ../partials/footer %>
    </footer>
    <script src="https://code.jquery.com/jquery-3.4.1.js"
        integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>
</body>

</html>